<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tasks.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1EFC5867241C7B5E48031E105DBD542FCBFA7368</string>
				<key>dateExpires</key>
				<string>2022/11/01</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1EFC5867241C7B5E48031E105DBD542FCBFA7368</string>
						<key>dateExpires</key>
						<string>2022/11/01</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YA5HXFT63V</string>
						<key>name</key>
						<string>shodai yabuki</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YA5HXFT63V.com.sho.tasks</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>YA5HXFT63V</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>tasks.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>20c7cfec-0ae5-4cd8-a514-cb0fe9afa7a0</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.sho.tasks</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YA5HXFT63V</string>
				<key>name</key>
				<string>shodai yabuki</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
